/**********/
/* Modals */
/**********/

.modal-footer .btn-group-vertical .btn + .btn {
  margin-left: 0px;
}

.modal-footer .btn-group-vertical + .btn-group-vertical {
  margin-top: 5px;
}


/*****************/
/* Search/Filter */
/*****************/
/* Make Filter Combo box style more consistent with Search box */
span.select2-selection.select2-selection--multiple {
  border-color: #ccc;
}
