{% load cms_tags sekizai_tags staticfiles %}


{% block content %}

  {% addtoblock "css" %}
    {% if instance.publication_set.searchable %}
      <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet" />
    {% endif %}
    <link rel="stylesheet" type="text/css" href="{% static 'cms_lab_publications/app.css' %}">
  {% endaddtoblock %}

  <div id="publication-list-ps{{ instance.publication_set.id }}-i{{ instance.id }}" class="pub-list">
    <form style="display:inline;">

    {% if instance.publication_set.searchable %}
      {% include "cms_lab_publications/_header-with-search-filter.html" with publication_set=instance.publication_set %}
    {% else %}
      <h4>{{ instance.publication_set.label }}</h4>
    {% endif %}

      <ul class="list" style="list-style: none; padding-left: 0;">
        {% for publication in instance.publication_set.publications.all %}
          <li>
            <p class="citation">
              {{ publication.citation }}
              <span class="btn-group btn-group-xs" role="group" aria-label="publication-buttons">
                {% if publication.abstract %}
                  <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-pub-{{ publication.id }}">Abstract</button>
                {% endif %}
                {% include "cms_lab_publications/_buttons.html" %}
              </span>
            </p>

            {% if instance.publication_set.searchable %}
              <!-- Hidden search/filter fields -->
              <p class="abstract" style="display: none;">{{ publication.abstract }}</p>
              <p class="authors" style="display: none;">{{ publication.authors }}</p>
              <p class="tags" style="display: none;">{% for tag in publication.tags.values %}{{ tag.id }} {% endfor %}</p>
            {% endif %}
          </li>
        {% endfor %}
      </ul>

      {% if instance.publication_set.pagination %}
        <div class="text-center">
          <ul class="pagination"></ul>
        </div>
      {% endif %}
    </form>
  </div>

  {% for publication in instance.publication_set.publications.all %}
    {% include "cms_lab_publications/_modal.html" %}
  {% endfor %}

  {% addtoblock "js" %}
    <script src="{% static 'cms_lab_publications/js/list.min.js' %}"></script>

    {% if instance.publication_set.pagination %}
      <script src="{% static 'cms_lab_publications/js/list.pagination.min.js' %}"></script>
    {% endif %}

    {% if instance.publication_set.searchable %}
      <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
      <script src="{% static 'cms_lab_publications/js/search-filter-pubs.js' %}"></script>
    {% endif %}

    <script>
      var options = {
        valueNames: [ 'abstract', 'authors', 'citation', 'tags' ],

        {% if instance.publication_set.pagination %}
          page: {{ instance.publication_set.pagination }},
          plugins: [
            ListPagination({})
          ],
        {% endif %}

      };
      var pubListPs{{ instance.publication_set.id}}I{{ instance.id }} = new List('publication-list-ps{{ instance.publication_set.id }}-i{{ instance.id }}', options);

      $( "#pub-tags-select-ps{{ instance.publication_set.id}}-i{{ instance.id }}" ).change(function() {
        filterByTags(pubListPs{{ instance.publication_set.id}}I{{ instance.id }}, "pub-tags-select-ps{{ instance.publication_set.id}}-i{{ instance.id }}");
      });

      $( "#pub-search-ps{{ instance.publication_set.id}}-i{{ instance.id }}" ).keyup(function() {
        filterByTags(pubListPs{{ instance.publication_set.id}}I{{ instance.id }}, "pub-tags-select-ps{{ instance.publication_set.id}}-i{{ instance.id }}");
      });

      $("#pub-tags-select-ps{{ instance.publication_set.id}}-i{{ instance.id }}").select2({
          placeholder: "Filter Keywords",
      });
    </script>

  {% endaddtoblock %}

{% endblock content %}
