/* Where necessary, overriding '!important' in 'djangocms-admin.css' */

/**************************/
/* Field sets and Inlines */
/**************************/

form fieldset,
.inline-group .module {
  max-width: 1200px;
  width: 100%;
}

/************************/
/* Stacked filter boxes */
/************************/
.selector.stacked {
  width: 90%;

  .selector-available, .selector-chosen {
    width: 98%;

    select[multiple] {
      height: 200px !important;
      max-width: 100%;
    }

    .selector-chooseall,  .selector-clearall {
      display: inline-block;
    }
  }
  /********************/
  /* Selector buttons */
  /********************/
  .selector-chooser {
    margin: 10px 45% 20px;
    width: 100% !important;
  }

  .selector-add,
  .selector-remove,
  .selector-chooseall,
  .selector-clearall {
    color: #999 !important;

    &:before {
      transform: rotate(90deg);
    }

    &:hover {
      color: #999 !important;
    }

    &.active, &.active:before {
      color: #0bf !important;

      &:hover, &:hover:before {
        color: #4dcfff !important;
      }
    }
  }
}
