/************************/
/* Stacked filter boxes */
/************************/

form .field-publications select[multiple] {
  height: 200px !important; /* Need to override '!important' in 'djangocms-admin.css' */
  max-width: 100%;
}

.field-publications .stacked {
  width: 90%;
}

.field-publications .stacked .selector-available, .stacked .selector-chosen {
  width: 98%;
}
