/************************/
/* Stacked filter boxes */
/************************/

form .field-publications select[multiple] {
  height: 200px !important; /* Need to override '!important' in 'djangocms-admin.css' */
  max-width: 100%;
}

.field-publications .stacked {
  width: 90%;
}

.field-publications .stacked .selector-available, .stacked .selector-chosen {
  width: 98%;
}


/********************/
/* Selector buttons */
/********************/

/* Arrangement */
.field-publications .selector ul.selector-chooser {
  margin: 10px 45% 20px;
  width: 100% !important; /* Need to override '!important' in 'djangocms-admin.css' */
}
.field-publications .selector ul.selector-chooser li {
  transform:rotate(90deg);
}

/* Coloring */
li .selector-add,
li .selector-remove {
  color: #999;
}
li .selector-add:hover,
li .selector-remove:hover {
  color: #999 !important;
}
li .selector-add.active,
li .selector-remove.active {
  color: #0bf !important;
}
li .selector-add.active:hover,
li .selector-remove.active:hover {
  color: #4dcfff !important;
}
