/**********/
/* Modals */
/**********/

.modal-footer .btn-group-vertical .btn + .btn {
  margin-left: 0px;
}

.modal-footer .btn-group-vertical + .btn-group-vertical {
  margin-top: 5px;
}


/**************/
/* Pagination */
/**************/

.pub-list {
  margin-bottom: 30px;
}

.pub-list .pagination {
  margin-bottom: 0px;
}


/*****************/
/* Search/Filter */
/*****************/

.search-filter-pubs {
  margin-bottom: 10px;
}
.search-container, .filter-container {
  padding-right: 0;
}
@media screen and (max-width: 767px) {
  .filter-container {
    margin-top: 7px;
  }
}

/* Make Filter Combo box style more consistent with Search box */
span.select2-selection.select2-selection--multiple {
  border-color: #ccc;
  min-height: 34px;
}
